{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<!-- Menu -->
<div id="menu" class="slice slice-overlay t-light">
	<div class="l-col-12 l-content h-clearfix">
		<div class="l-col-12 l-padding">
			<div class="h-right">
				<div class="i-menu-close"></div>
			</div>
		</div>
		<div class="l-col-12 l-padding t-center main-menu-holder">
      {{ page.primary_menu }}
		</div>
	</div>
</div>
<!-- Menu end -->
<div id="search" class="slice slice-overlay t-light">
	<div class="l-col-12 l-content h-clearfix">
		<div class="l-col-12 l-padding t-search">
			<div class="h-right">
				<div class="i-search-close"></div>
			</div>
		</div>
		<div class="l-col-12 t-center t-search">
			<div class="l-col-7 l-content l-padding">
				<h1>Search</h1>
			</div>
		</div>
		<div class="l-col-12">
			<div class="l-col-12 search-results t-listing t-center">
				{{ page.search }}
			</div>
		</div>
	</div>
</div>

<!-- Sticky nav -->
<header class="header">
	<div class="slice">
		<div class="l-col-12 l-content t-light main-menu h-clearfix">
			<div class="l-col-4 f-col-4 l-padding">
				<div class="i-search"></div>
				<a class="back-to-aston h-hidden-sm" href="http://www.astonmartin.com/">astonmartin.com</a>
			</div>
			<div class="l-col-4 f-col-4 l-padding t-center">
				<!-- <a href="/"><div class="logo"></div></a> -->
				<a class="am-logo" href="/"><img src="http://www.iln.co.uk/aston/themes/custom/aston_martin/source/images/logo@2x.png" alt="Aston Martin Logo" /></a>

			</div>
			<div class="l-col-4 f-col-4 l-padding">
				<div class="h-right">
					<div class="button-nav">
						<span class="button-nav-lines"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="header-gradient"></div>
	</div>
</header>
<!-- Sticky nav end -->


{% if page.featured_top %}
  <div class="slice">
    <aside class="featured-top__inner section layout-container clearfix" role="complementary">
      {{ page.featured_top }}
    </aside>
  </div>
{% endif %}
<div class="slice h-clearfix">
	<div class="l-col-12 l-content">
		<div class="l-col-12 t-listing t-center">
			{% if page.content %}
			<main id="content" class="column main-content" role="main">
			  <section class="section">
			    <a id="main-content" tabindex="-1"></a>
			    {{ page.content }}
			  </section>
			</main>
			{% endif %}
		</div>
	</div>
</div>

{% if page.taxonomy_bottom %}
    {{ page.taxonomy_bottom }}
{% endif %}
{% if page.footer_top %}
		{{ page.footer_top }}
{% endif %}

<footer class="site-footer">
  <div class="slice slice-footer h-clearfix">
    {% if page.footer_left or page.footer_middle or page.footer_right %}
      <div class="l-col-12 l-content">
        <div class="l-col-4 l-padding h-hidden-sm">
          {{ page.footer_left }}
        </div>
        <div class="l-col-4 l-padding">
          {{ page.footer_middle }}
        </div>
        <div class="l-col-4 l-padding">
          {{ page.footer_right }}
        </div>
      </div>
    {% endif %}
    {% if page.footer_bottom %}
      <div class="l-col-12 l-content">
    		<div class="l-col-12 l-padding copyright">
        {{ page.footer_bottom }}
        </div>
      </div>
    {% endif %}
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
